:root {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  /* outline: 0; */
  vertical-align: baseline;
  background: transparent;
}

body {
  font-size: 1.6rem !important;
}

h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.8rem;
}
p {
  font-size: 1.6rem;
}
p.subtitle-1 {
  font-size: 1.4rem;
}
p.subtitle-2 {
  font-size: 1.2rem;
}

ul {
  list-style-type: none;
}

.clickable-text {
  cursor: pointer;
  color: aquamarine;
}
.clickable-text:hover {
  color: cadetblue;
}

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-start {
  justify-content: start;
}
.justify-content-end {
  justify-content: end;
}
.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: start;
}
.align-items-end {
  align-items: end;
}
.align-items-center {
  align-items: stretch;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content,
.dropdown:focus .dropdown-content {
  display: block;
}
